

/* CSS Variables - Start */
:root {
    --white: #fff;
    --black: #000;

    --theme-blue: #3183FF;
    --theme-turquoise: #00FFF0;
    --theme-black: #232C3A;
    --theme-dark-blue: #5882C1;

    --radius-sm: 0.125rem;
    --radius-md: 0.625rem;
}


/* CSS Variables - Ends */


/* Common Classes - Starts */

body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--white);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url(".././assets/background.png");
    background-size: cover;
    background-position: top center;
    background-repeat: repeat-y;
    background-color: var(--theme-black);
    background-blend-mode: color-dodge;
    padding-top: 100px;
    padding-bottom: 100px;
}
p{
    margin: 0;
}

.extra-small{
    font-size: 0.7rem;
}


.btn{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-weight: 500;
    font-size: 1.03rem;
    border-radius: var(--radius-md);
}
.btn:hover{
    border-color: inherit;
    background-color: inherit;
}
.btn-primary{
    background-color: var(--theme-blue);
}

.btn-success{
    background-color: var(--theme-turquoise);
    color: var(--theme-black);
}
.btn-sm{
    padding-top: 0.30rem;
    padding-bottom: 0.30rem;
    font-weight: 400;
    font-size: 0.9rem;
    border-radius: var(--radius-md);
}

.triangular-shape-btn{
    background-color: rgba(88, 130, 193, 0.50);
    position: relative;
    height: 50px;
    width: calc(100% - 40px);
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 0;
    color: var(--white);
}
.triangular-shape-btn:hover{
    background-color: rgba(88, 130, 193, 0.50);
}
.triangular-shape-btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: -12px;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 12px solid rgba(88, 130, 193, 0.50);
    border-bottom: 25px solid transparent;
}
.triangular-shape-btn::after{
    content: "";
    position: absolute;
    top: 0;
    right: -12px;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 12px solid rgba(88, 130, 193, 0.50);
    border-bottom: 25px solid transparent;
}

.color-primary {
    color: var(--theme-blue) !important;
}

.color-turquoise {
    color: var(--theme-turquoise);
}

.bg-blur{
    border: 1px solid rgba(88, 130, 193, 0.49);
    background: rgba(88, 130, 193, 0.28);
    backdrop-filter: blur(12.5px);
}

.bg-blur.active{
    background-color: var(--theme-blue);
}

.bg-black {
    background-color: var(--theme-black) !important;
}

.bg-turquoise {
    background-color: var(--theme-turquoise) !important;
}

.radius-0 {
    border-radius: 0;
}

.radius-md{
    border-radius: var(--radius-md);
}
.radius-sm{
    border-radius: var(--radius-sm);
}

.border-top-left-radius-0{
    border-top-left-radius: 0;
}
.border-top-right-radius-0{
    border-top-right-radius: 0;
}
.border-bottom-left-radius-0{
    border-bottom-left-radius: 0;
}
.border-bottom-right-radius-0{
    border-bottom-right-radius: 0;
}

.full-height {
    min-height: 100vh;
}

.bg-triangular-shape{
    background-color: var(--theme-blue);
    position: relative;
    height: 60px;
    width: calc(100% - 40px);
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg-triangular-shape::before{
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-right: 20px solid var(--theme-blue);
    border-bottom: 30px solid transparent;
}
.bg-triangular-shape::after{
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 20px solid var(--theme-blue);
    border-bottom: 30px solid transparent;
}
.bg-triangular-shape .title h2{
    text-align: center;
    font-size: 1rem;
}

.hexagon-box{
    background: rgba(88, 130, 193, 0.5);
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    text-align: center;
    position: relative;
    margin-top: 2.8rem;
    margin-bottom: 2.8rem;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
}
.hexagon-box::before{
    content: "";
    position: absolute;
    top: -35px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 35px solid rgba(88, 130, 193, 0.5);
}
.hexagon-box::after{
    content: "";
    position: absolute;
    bottom: -35px;
    left: 0;
    width: 0;
    height: 0;
    border-top: 35px solid rgba(88, 130, 193, 0.5);
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
}

.shape-cutout{
    padding-top: 2.3rem;
    padding-bottom: 2.3rem;
    -webkit-mask:
    radial-gradient(circle 24px at 100%    0 ,#0000 98%,#000) top    left,
    radial-gradient(circle 24px at 0    0,#0000 98%,#000) top    right,
    radial-gradient(circle 24px at 100% 100% ,#0000 98%,#000) bottom left,
    radial-gradient(circle 24px at 0 100%,#0000 98%,#000) bottom right;
    
    -webkit-mask-size:50% 50%;
    -webkit-mask-repeat:no-repeat;
}

input.custom-date-picker{
    position: relative;
}
input[type="date"].custom-date-picker::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
/* Common Classes - Ends */


/* Navbar - Starts */
.sattamatka-navbar .navbar-brand{
    font-weight: 600;
}

.sattamatka-navbar .navbar-nav .nav-item,
.sattamatka-navbar .navbar-nav .nav-item .nav-link{
    display: flex;
    align-items: center;
}
.sattamatka-navbar .navbar-nav .nav-item .nav-link{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
/* Navbar - Ends */

/* Titles - Starts */

.title h2{
    font-size: 1.03rem;
    font-weight: 500;
    margin-bottom: 0;
    color: var(--theme-turquoise);
    line-height: 1.8rem;
}

.color-swapping-text{
    animation: color-swap 1s steps(2, start) infinite;
    transition: none;
}
@keyframes color-swap{
    100% {color: var(--white);}
}
/* Titles - Ends */


/* Custom Tabs Panel - Starts */
.custom-tabs-panel.nav-justified .nav-item{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.custom-tabs-panel.nav-justified .nav-item:first-child{
    padding-left: 0;
}
.custom-tabs-panel.nav-justified .nav-item:last-child{
    padding-right: 0;
}
.custom-tabs-panel.nav-justified .nav-item .nav-link{
    border: 1px solid rgba(88, 130, 193, 0.49);
    background: rgba(88, 130, 193, 0.28);
    backdrop-filter: blur(12.5px);
    border-radius: var(--radius-md);
    color: var(--white);
    font-weight: 500;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

.custom-tabs-panel.nav-justified .nav-item .nav-link.active{
    background-color: var(--theme-blue);
    -webkit-mask:
    radial-gradient(circle 6px at 100%    0 ,#0000 98%,#000) top    left,
    radial-gradient(circle 6px at 0    0,#0000 98%,#000) top    right,
    radial-gradient(circle 6px at 100% 100% ,#0000 98%,#000) bottom left,
    radial-gradient(circle 6px at 0 100%,#0000 98%,#000) bottom right;
    
    -webkit-mask-size:50.1% 51%;
    -webkit-mask-repeat:no-repeat;
}
/* Custom Tabs Panel - Ends */

.panel-days .day-divider{
    border-bottom: 1px solid rgba(88, 130, 193, 0.5);
    border-right: 1px solid rgba(88, 130, 193, 0.5);
}

.panel-days:last-child .day-divider{
    border-right: none;
}

.panel-days .row:last-child .day-divider{
    border-bottom: none;
}

.min-w-450{
    min-width: 450px;
}

.divider-right{
    border-right: 1px solid rgba(88, 130, 193, 0.5);
}

/* Reacted Icon */
.react-icon{
    position: absolute;
    left: 50px;
    bottom: -18px;
    z-index: 99;
}

/* Emoji icon panel */
.icon-panel{
    max-width: 420px;
    min-width: 300px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: -40px;
    z-index: -550;
    pointer-events: none;
    transition: 0.5s;
    opacity: 0;
}

.icon-panel.visible{
    position: absolute;
    bottom: -40px;
    z-index: 550;
    pointer-events: auto;
    opacity: 1;
}

/* Reaction-panel */
.reaction-panel{
    position: fixed;
    bottom: -150%;
    z-index: -999;
    left: 0;
    transition: 0.5s;
    left: 50%;
    transition: 0.5s;
    transform: translateX(-50%);
    width: 100%;
    max-width: 500px;
}
.reaction-panel-backdrop{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -990;
    overflow: hidden;
    transition: 0.5s;
    opacity: 0;
}

.reaction-panel.visible{
    bottom: 0;
    z-index: 999;
}
.reaction-panel-backdrop.visible{
    z-index: 990;
    opacity: 1;
}

.reaction-panel .btn img{
    width: 20px;
}

.reaction-panel .fancy-border{
    width: 60px;
    height: 3px;
    border-radius: 10px;
    background-color: var(--theme-turquoise);
    margin: 1rem auto;
}

.users-list{
    max-height: 250px;
    overflow-y: auto;
}

.users-list li{
    margin-bottom: 0.5rem;
}
.users-list img{
    width: 16px;
}
.users-list .profile-photo{
    width: 24px;
}

/* Responsive media queries - Starts */

@media screen and (max-width:1400px) {
    
}

@media screen and (max-width:1024px) {
    
}

@media screen and (max-width:850px) {
    
}

@media screen and (min-width:480px) and (max-width:767px) {
    
}

@media screen and (min-width:768px) and (max-width:991px) {
    
}

@media screen and (max-width:767px) {
    
}

@media screen and (max-width:340px) {
    .title h2,.bg-triangular-shape .title h2{
        font-size: 0.95rem;
    }
    
    .hexagon-box{
        width: 136px;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }
    .hexagon-box::before{
        top: -25px;
        border-left: 68px solid transparent;
        border-right: 68px solid transparent;
        border-bottom: 25px solid rgba(88, 130, 193, 0.5);
    }
    .hexagon-box::after{
        bottom: -25px;
        border-top: 25px solid rgba(88, 130, 193, 0.5);
        border-left: 68px solid transparent;
        border-right: 68px solid transparent;
    }    

}



/* Responsive media queries - Ends */